@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    color:black;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px seagreen;
    margin-bottom: 20px;
    border: 1px solid grey;
}

header img {
    border-radius: 50%;
    border: 5px solid #2e8b57;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: black;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.7em;
    font-weight: 600;
}

.secciones {
    display: flex;
    flex-direction: column;
}

h3 {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px grey;
    color: seagreen;
    font-size: 1.6em;
    margin-bottom: 20px;
    border-bottom: 3px solid seagreen;
    padding-bottom: 10px;
}

ul li {
    padding: 12px 0;
    padding-left: 20px;
    font-size: 1.1em;
}

ul li::before {
    content: "▸";
    color: seagreen;
    font-size: 1.2em;
}

h4{
    color: black;
    font-size: 1.2em;
    margin-left: 20px;
}

 div ul li{
    margin-bottom: 10px;
	background-color: seagreen;
	border-radius: 15px;
    color: white;
    font-weight: 500;
    box-shadow: 0 4px 15px grey;
    text-align: center;
}

footer{
    padding: 20px;
    background-color: grey;
    border-radius: 20px;
    color: white;
	text-align: center;
}